<style>
    h1 {
        color: red;
    }

    h6 {
        color: red;
        text-decoration: underline;
    }
    .center {
        background-color: black;
        color: white;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    hr {
        border-top: 1px solid white;
    }
</style>

<div class="w3-display-middle center">
    <h1 class="w3-jumbo w3-animate-top w3-center " style=" margin:auto;width:64%"><code>Access Denied</code></h1>
    <hr class="w3-border-white w3-animate-left" style=" margin:auto;width:100%">
    <h3 class="w3-center w3-animate-right" style=" margin:auto;width:50%">You dont have permission to view this site.</h3>
    <h3 class="w3-center w3-animate-zoom" style=" margin:auto;width:50%">🚫🚫🚫🚫</h3>
    <h6 class="w3-center w3-animate-zoom" style=" margin:auto;width:50%">error code:403 forbidden</h6>
</div>